<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="i4fbofHAWd-gZzRUjtFy7JbixZ6M3BZoQ3pKpviT_Bw" />
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
</head>

<body>
    <header>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    </header>

    <nav>
        {% for title, link in MENUITEMS %}
        <a href="{{ SITEURL }}{{ link }}">{{ title }}</a>
        {% endfor %}
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% if FOOTERITEMS %}
        <nav style="margin-bottom: 10px;">
            {% for title, link in FOOTERITEMS %}
            <a href="{{ SITEURL }}{{ link }}" style="margin: 0 5px;">{{ title }}</a>
            {% endfor %}
        </nav>
        {% endif %}
        &copy; {{ AUTHOR }}
    </footer>
</body>

</html>