{% extends "base.html" %}

{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

{% block content %}
<header>
    <h1>{{ category }}</h1>
</header>

<div class="card-grid">
    {% for article in articles %}
    <article class="card">
        {% if article.image %}
        <a href="{{ SITEURL }}/{{ article.url }}" class="card-img-link">
            <img src="{{ SITEURL }}/{{ article.image }}" alt="{{ article.title }}" class="card-img">
        </a>
        {% endif %}
        <div class="card-content">
            <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <p>{{ article.summary }}</p>
            <a href="{{ SITEURL }}/{{ article.url }}" class="read-more">Read More &rarr;</a>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}